$primary: #3e6259ff; // change the primary color to red
$secondary: #aef6c7ff; // change the secondary color to blue
$neutral: #5b8266ff; // change the neutral color to green
$dark: #294936ff; // change the dark color to black
$black: #212922ff; // change the background color to white
$font-sans-serif: 'Poppins', sans-serif !default;
$font-monospace: "Poppins", monospace !default;
$font-serif : "Raleway", serif !default;
// header edition
header{
    z-index: 1000;
    position: sticky;
    top: 0;
    .search-bar{
        height: 5rem;
        width: 100%;
        text-align: center;
        div{
            width: 50%;
            height: 3.5rem;
            margin: auto;
            padding: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
            input{
                height: 3.5rem;
                width: 100%;
                font-size: 1.6rem;
                z-index: 2;
                color: $dark;
            }
            button{
                height: 3rem;
                color: $dark;
                border-color: $dark;
                position: absolute;
                right: 1rem;
                font-size: 1.4rem;
                z-index: 5;
                &:hover{
                    background-color: $dark;
                    color: $secondary;
                    border-color: $secondary;
                }
                h5{
                    padding: auto;
                }
            }

        }
    }
}
@media (min-width: 800px) {
    
    .navbar-desktop{
        margin:auto;
        padding: auto;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        font-family: $font-sans-serif;
        .nav-items{
            min-width: 35rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            &:first-child{
                margin-right: 10rem;
            }
            &:last-child{
                margin-left: 10rem;
            }
            a, button{
                font-size: 2.5rem;
                height: auto;
                width: 15rem;
                margin:auto;
                padding: auto;
                vertical-align: baseline;
            }
        }
        .logo-nav{
            &:hover{
                transform: scale(1.1);
                transition: transform 0.5s ease-in-out;
            }
            
        }
    }
    
    .navbar-mobile{
        display: none;
    }
}


@media (max-width: 800px) {
    header{
        .navbar-desktop {
            display: none !important;
            opacity: 0 !important;
        }
        .navbar-mobile{
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height:10vh;
            input[type=checkbox]{
                display: none;
            }
            input[type=checkbox]:checked ~ .nav-links{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top:10vh;
                right:0;
                width: 50%;
                height: 80vh;
            }
            .nav-links{
                display: flex;
                justify-content: space-around;
                width: 50%;
                li{
                    list-style: none;
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1.8rem;
                    font-family: $font-sans-serif;
                    font-weight: bold;
                }
            }
        }
        .burger{
            cursor:pointer;
        }
    }

}